/*Applying to all*/

* {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation {
	width:100%;
	background-color:white;
}

h3.subtitle {
	font-style:italic;
}

a { 
    text-decoration: none;
}

.n {
	color:black;
	transition: all 0.5s;
}

.n:hover {
	color:#0000A8;
}

.about {
	width:100%;
	background-color:grey;
	display: flex;
    justify-content: center;
	align-items: center;
}

h2.confianza {
	color:white;
	margin:0px;
}

.pcom {
	color:white;
	font-weight:bold;
}

.more {
	color:white;
}

.container {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.mainpart{
	background-color:gray;
	font-weight:bold;
	transition:all 0.5s;
	z-index:100;
}

.contact {
	width:100%;
	background-color:black;
}

.nit {
	color:white;
}

.phone {
	background-color:white;
	display:flex;
	justify-content:center;
	align-items:center;
}

table {
	color:white;
}
/*Ending of all*/


/*For Desktops*/

 @media (min-width:1264px) and (max-width:1904px) {
	 
	 /*navigation*/
	 
	.navigation {
		height:120px;
	}
	
	.logo {
		width:100px;
		height:100px;
		position:absolute;
		top:15px;
		left:20px;
	}
	
	h1.O3 { 
	    position:absolute;
		top:10px;
		left:125px;
	}
	
	h3.subtitle { 
	    position:absolute;
		top:60px;
		left:140px;
	}
	
	.n {
		font-size:20px;
	}
	
	.n:hover {
		font-size:23px;
	}
		
	.ncontact {
		position:absolute;
		top:50px;
		right:70px;
	}
	
	/*end of navigation*/
	
	/*about us*/
	
	.about {
		height:500px;
	}
	
	h2.confianza {
		font-size:150px;
	}
	
	.pcom {
		position:absolute;
		top:410px;
		right:320px;
		font-size:30px;
	}
	
	.more {
		position:absolute;
		right:50px;
		bottom:140px;
		font-size:16px;
		transition: all 0.5s;
	}
	
	.more:hover {
		font-size:20px;
	}
	/*end of about us*/
	
	/*main part*/
	
	.mainpart {
		width:350px;
		height:500px;
		margin:50px;
		font-size:40px;
		
	}
	
	.mainpart:hover {
		width:400px;
		height:550px;
		margin:10px;
		box-shadow: 10px 10px 20px black;
	}
	
	.move {
		position:relative;
		left:15px;
	}
	/*main part*/
	
	/*contact*/
	.contact {
		height:350px;
	}
	
	.end {
		height:100px;
		width:100px;
		position:relative;
		left:10px;
		top:40px;
	}
	
	.final {
		color:white;
		position:relative;
		left:130px;
		top:-60px;
	}
	
	.nit {
		position:relative;
		left:140px;
		top:-80px;
	}
	
	.phone {
	    width:200px;
	    height:80px;
		position:relative;
		left:100px;
		top:-60px;
		border-radius: 50px;
		font-size:18px;
    }
	
	.warning {
		color:white;
		font-size:20px;
		position:relative;
		left:600px;
		top:-230px;
	}
	
	.table {
		position:relative;
		left:900px;
		top:-290px;
	}
	
	th{
		font-size:20px;
	}
	
	table {
		border-collapse: separate;
		border-spacing: 20px; 
	}
	
	/*end of contact*/

  }

/*End of Desktops*/